body {
  background-image: url("./bg.png");
  background-size: cover;
}
.title-blog-span {
  color: #26ca7e;
}
.main-subheading {
  color: #26ca7e;
  font-weight: 500;
}
.accordion-custom {
  border: 2px solid #198754;
  border-radius: 5px;
}
.accordion-body-custom {
  background-color: rgb(23, 23, 23);
}
.accordion-button-custom {
  background-color: rgb(33 36 33) !important;
}
